.Section5Contener{    
    background-color: rgb(163, 163, 163);
}
.Section5Img{
    height: 1000px;
    background-image: url('./../image/terms-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Section5btn{
    width: 80%;
    margin: 0 auto;
    height: 500px;
    background-color: rgb(163, 163, 163);
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.Section5btn span{
    color: white;
    font-size: 70px;
}
.btndiv{
    width: 80%;
    background-color: white;
}
.Section5btn button{
    width: 100%;
    height: 100px;
    text-transform: uppercase;
}